@model IEnumerable<Cars.Models.Engine>

@{
    ViewData["Title"] = "Index";
}

<h2>Engines</h2>
<hr />



<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDescription)
            </th>
            <th>
                <a asp-action="AddOrEdit" type="button" class="btn btn-success">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDescription)
            </td>
            
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id_engine" type="button" class="btn btn-primary">Edit</a> |

                <a asp-action="Delete" asp-route-id="@item.Id_engine" type="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete this engine?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
